.note {
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
    height: 130px
}

.delete {
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}