* {
  box-sizing: border-box;
}

.box {
  padding: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  padding: 20px;
}

header {
  background: '#333';
  color: '#fff';
  text-align: 'center';
  padding: '10px'
}

header h1 {
  color: '#fff'
}

a {
  color: blue;
  text-decoration: none;
}

.wrapper {
  display: flex;
}

.columnA {
  flex: 1;
}

.columnB {
  flex: 4;
}

.noteCreate {
  width: 100%;
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 5px;
}

h3 {
  color: #0000;
}